html, body {
    height: 100%;
}

.Copyright {
    flex-shrink: 0;
    font-size: 14px;
    color: #cccccc;
    padding-top: 30px;
    padding-bottom: 5px;
    background: #666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}

.myfooter {
    font-size: 14px;
    color: #cccccc;
    padding-top: 30px;
    padding-bottom: 5px;
}

a {
    color: gray;
    text-decoration: none;

}

button {
    border: none;
    font-size: 14px;
    background-color: #ffffff;
    color: gray;
    line-height: 5; 
}

/* This ccs code fits the background image chosen to the back of the webpage */
body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url("../../images/dust_scratches.png")
}

.MyName {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    background: #4aaaa5;
    color: white; 
    font-weight: bold;
    font-size: large;
    padding: 25px;
    position: absolute;
    left: 288px;
    top: 17px;
}

.boundary {
    max-width: 960px;
    margin: auto;
    flex: 1 0 auto;
}

.Contact {
    float: right;
}

.Portfolio {
    float: right;
    margin-right: 10px;
}

.About {
    float: right;
    margin-right: 10px;
}

.Nav {
    width: 100%;
    padding: 34px;
    background-color: #ffffff;
    border-bottom: #cccccc solid 2px;
}

.NavLinks {
    margin-right: 281px;
}


#aboutrelative {
    position: relative;
    z-index: 3;
    height: 200px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    top: 67px;
  }
  
  #AboutMeBox {
    position: absolute;
    z-index: 3;
    left: 0;
    top: -30px;
    width: 960px;
    height: 400px;
    padding: 20px;
    padding-top: 30px;
    margin-right: 10px;
    text-align: left;
    background: #ffffff;
    border: #cccccc solid 1px;
  }

  #AboutMeHeader {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
    color: #4aaaa5; 
    position: absolute;
    z-index: 3;
    left: 0;
    top: -30px;
    padding: 20px;
    padding-top: 30px;
    margin-left: 10px;
  }

  #AboutMeText {
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 14px;
      /* Padding-top will move the border up top away from the text */
      padding-top: 25px;
      color: #777777;
      position: relative;
      z-index: 3;
      top: 20px;
      text-align: left;
      border-top: #cccccc solid 2px;
      margin-left: 10px;
  }

  #MyPic {
      float: left;
      padding-right: 20px;
      padding-bottom: 20px;
  }

  .writing {
      margin-top: -5px;
      line-height: 25px;
  }

  .writingedit {
      line-height: 25px;
  }

   #ContactBox {
    position: absolute;
    z-index: 3;
    right: -513px;
    top: -30px;
    width: 960px;
    height: 400px;
    padding: 20px;
    padding-top: 30px;
    margin-right: 10px;
    text-align: left;
    background: #ffffff;
    border: #cccccc solid 1px;
  }

   #ContactHeader { 
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
    color: #4aaaa5; 
    position: absolute;
    z-index: 3;
    left: -463px;
    top: -30px;
    padding: 20px;
    padding-top: 30px;
    margin-left: 10px;
  }


  input[type=text], select, textarea {
    height: 20px;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  
  input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #4aaaa5;
  }
  
  .ContactForm {
    width: 925px;
    font-size: 14px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    padding: 20px;
    position: absolute;
    z-index: 5;
    left: 295px;
    top: 200px;
    height: 50px;
  }

  /* This was just an easy way for me to put a border between the word "Contact" and the form */
  .line {
    position: absolute;
    z-index: 6;
    width: 925px;
    height: 2px;
    background: #777777;
    top: 197px;
    left: 315px;
  }

