a {
    color: gray;
    text-decoration: none;
}

.My-Name {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    background: #4aaaa5;
    color: white; 
    font-weight: bold;
    font-size: large;
    padding: 25px;
    position: absolute;
}

.boundary {
    max-width: 960px;
    margin: auto;
}

button {
    border: none;
    font-size: 14px;
    background-color: white;
    color: gray;
    line-height: 5; 
}

.Contact {
    float: right;
}

.Portfolio {
    float: right;
}

.About {
    float: right;
}

